[submodule "refs/moonlight-harmonyos"]
	path = refs/moonlight-harmonyos
	url = https://github.com/likuai2010/moonlight-harmonyos.git
[submodule "refs/moonlight-common-c"]
	path = refs/moonlight-common-c
	url = https://github.com/moonlight-stream/moonlight-common-c.git
[submodule "refs/moonlight-ios"]
	path = refs/moonlight-ios
	url = https://github.com/moonlight-stream/moonlight-ios.git
[submodule "refs/moonlight-android"]
	path = refs/moonlight-android
	url = https://github.com/moonlight-stream/moonlight-android.git
[submodule "refs/sunshine"]
	path = refs/sunshine
	url = https://github.com/LizardByte/Sunshine.git
[submodule "refs/moonlight-docs"]
	path = refs/moonlight-docs
	url = https://github.com/moonlight-stream/moonlight-docs.git
[submodule "refs/apollo"]
	path = refs/apollo
	url = https://github.com/ClassicOldSong/Apollo.git
